@using System.Security.Claims

<header class="d-flex justify-content-between align-items-center px-4 py-3 border-bottom shadow-sm bg-white">
    <a href="/" class="navbar-brand fw-bold fs-4 text-dark">reSreL</a>

    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <span class="me-3">👋 Bonjour, @User.Identity.Name</span>
            <a class="btn btn-outline-danger" href="/Users/Logout">Déconnexion</a>
        }
        else
        {
            <a class="btn btn-outline-primary" href="/Users/Login">Connexion</a>
        }
    </div>
</header>
