<header class="d-flex justify-content-between align-items-center px-4 py-3 border-bottom shadow-sm bg-white">
    <a href="/" class="navbar-brand fw-bold fs-4 text-dark">reSreL</a>
    <div>
        <a href="#" class="btn btn-outline-primary">Se connecter</a>
    </div>
</header>
