@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - reSreL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @await Html.PartialAsync("_Header")

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        @await Html.PartialAsync("_NavbarAdmin")
    }
    else
    {
        @await Html.PartialAsync("_NavbarPublic")
    }

    <main class="container mt-4" style="margin-left:250px;">
        @RenderBody()
    </main>

        @RenderBody()
    </main>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
