<!-- Views/Shared/_NavbarAdmin.cshtml -->
<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/Users/Create">➕ Créer un compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Users">👤 Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Ressources/PublicList">Ressources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Ressources">Ajouter une ressource</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Categories">🏷️ Catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Commentaires">💬 Commentaires</a>
            </li>
        </ul>
    </div>
</nav>
